# MongoDB Configuration
MONGODB_URI=mongodb://localhost:27017/
MONGODB_DB=

# TempMail API
TEMPMAIL_API_KEY=

# Google Sheet (Optional)
GOOGLE_SERVICE_ACCOUNT_FILE=
GOOGLE_SHEET_ID=your-sheet-id-here
GOOGLE_SHEET_NAME=

# Flask
FLASK_SECRET_KEY=your-secret-key-here
FLASK_DEBUG=True
